body{
  background-color: hsl(233, 47%, 7%);
  overflow-x: hidden;
}
.container{
  top:0;
  min-width: 100vw;
  min-height: 100vh;
  display: grid;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  position: relative;
  background-color: hsl(233, 47%, 7%);
}
.header{
  padding: .5rem;
  background-color: hsl(244, 38%, 16%);
  color: white;
  height: fit-content;
}
.bars{
  width: 90vw;
  position: absolute;
  margin: .5rem auto;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  position: relative;
}
.bars div{
  display: inline-block;
  background-color: hsl(277, 29%, 52%);
  margin:1px;
  margin-bottom: 1rem;
  width: 150px;
  bottom: 0;
}
.components{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.customs{
  margin: 0 1rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}
.sorts{
  margin: 0 1rem;
}
button{
  padding: .5rem 1rem;
  border:0;
  border-radius: 5px;
  color: black;
  font-size: 1rem;
  transition: .3s ease-in-out;
  margin: 1rem .5rem;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 1);
}
button:hover{
  background-color:hsl(233, 47%, 7%) ;
  color: white;
}
.customs label, .customs input{
  font-size: 1rem;
  margin: .2rem 1rem;
}

h1{
  font-size: 2rem;
  text-shadow: 0 0 1rem black;
}
.labels{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
}
input[type="range"]{
  width: 7rem
}

input[type=range]{
  -webkit-appearance: none;
}

input[type=range]::-webkit-slider-runnable-track {
  height: .35em;
  background: white;
  border: none;
  border-radius: 10px;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: none;
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  background: white;
  margin-top: -4px;
}

input[type=range]:focus {
  outline: none;
}
